<div class="slider-container">
  <div class="slider">
    <div class="slide">
      <img src="images/products-page-top-1.jpg" alt="Slide 1">
    </div>
    <div class="slide">
      <img src="images/products-page-top-2.jpg" alt="Slide 2">
    </div>
  </div>
</div>

<div class="container mt-4">
  <!-- Filters -->
  <div class="row mb-4">
    <div class="col-12 filters">
      <h4>
        <button
          class="btn btn-primary animate-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#filtersCollapse"
          aria-expanded="false"
          aria-controls="filtersCollapse"
        >
          Filters
        </button>
      </h4>
      <div class="collapse animate-collapse" id="filtersCollapse">
        <form action="/products/filter" method="GET">
          <div class="form-group">
            <label for="price">Price:</label>
            <section class="range-slider">
              <span class="rangeValues"></span>
              <input
                name="minPriceSelected"
                value="{{minPrice}}"
                min="{{minPrice}}"
                max="{{maxPrice}}"
                step="1"
                type="range"
                class="form-range"
              />
              <input
                name="maxPriceSelected"
                value="{{maxPriceSelected}}"
                min="{{minPrice}}"
                max="{{maxPrice}}"
                step="1"
                type="range"
                class="form-range"
              />
              <p></p>
            </section>
          </div>
          <div class="form-group">
            <label>Brand:</label>
            <div class="checkbox-group">
              {{#each brands}}
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="brand"
                    id="brand-{{@index}}"
                    value="{{this}}"
                  />
                  <label class="form-check-label" for="brand-{{@index}}">
                    {{this}}
                  </label>
                </div>
              {{/each}}
            </div>
          </div>
          <div class="filter-buttons">
            <button type="submit" class="btn btn-primary animate-button">Apply
              Filters</button>
            <a href="/products" class="btn btn-primary animate-button">Reset</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Products Grid -->
  <div class="row">
    {{#if products}}
      {{#each products}}
        <div class="col-md-4 product-card flex-column animate-product-card">
          <div class="card">
            <a href="/products/{{_id}}">
              <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}" />
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text">Price: ${{price}}</p>
                <p class="card-text">Model: {{model}}</p>
                <p class="card-text">Brand: {{brand}}</p>
              </div>
            </a>
            <form action="/cart/add-product/{{_id}}" method="GET" class="p-3">
              <div class="form-group">
                <label for="size-{{_id}}">Size:</label>
                <select class="form-control" id="size-{{_id}}" name="size">
                  {{#each availableSizes}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
              <button
                type="submit"
                class="btn btn-primary mt-2 animate-button"
              >Buy Now</button>
            </form>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No products matching the selection found</p>
    {{/if}}
  </div>
</div>