<div class="product-details">
    <div class="product-image">
        <img src="{{product.imageUrl}}" alt="{{product.name}}">
    </div>
    <div class="product-info">
        <h1>{{product.name}}</h1>
        <p>Price: ${{product.price}}</p>
        <p class="product-brand">Brand: {{product.brand}}</p>
        <p class="product-model">Model: {{product.model}}</p>
        <p class="product-color">Color: {{product.color}}</p>
        <p class="product-description">Description: {{product.description}}</p>
        
        <!-- Form for adding product to cart -->
        <form action="/cart/add-product/{{product._id}}" method="GET">
            <p>
                <label for="size">Size:</label>
                <select name="size" id="size">
                    {{#each product.availableSizes}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </p>
            <p>Quantity: <input type="number" name="quantity" value="1" min="1"></p>
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    </div>
</div>
