<div class="product-details">
    <div class="product-image">
        <img src="{{product.imageUrl}}" alt="{{product.name}}">
    </div>
    <div class="product-info">
        <h1>{{product.name}}</h1>
        <p>Price: ${{product.price}}</p>
        <p class="product-brand">Brand: {{product.brand}}</p>
        <p class="product-model">Model: {{product.model}}</p>
        <p class="product-color">Color: {{product.color}}</p>
        <p class="product-description">Description: {{product.description}}</p>
        <p>Quantity: <input type="number" name="quantity" value="1"></p>
        <a href="cart/add-product/{{product._id}}" class="btn btn-primary">Add to Cart</a>
    </div>
</div>